In [2]:
import sqlite3

In [4]:
connection = sqlite3.connect('new.db')
connection

In [5]:
cursor = connection.cursor()

In [7]:
cursor.execute('''
Create Table If Not Exists Employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department Text
               )
''')
connection.commit()

In [8]:
cursor.execute('''
Select * from Employees
''')

In [14]:
cursor.execute('''
Insert Into Employees(name,age,department)
               values('Vijay',25,'Data Scientist')
''')
cursor.execute('''
Insert Into Employees(name,age,department)
               values('Arjun',24,'Data-Analyst')
''')
cursor.execute('''
Insert Into Employees (name,age,department)
               values('Sony',35,'F1 Racer')
''')
connection.commit()

In [21]:
cursor.execute('Select * from Employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Vijay', 25, 'Data Scientist')
(2, 'Arjun', 24, 'Data-Analyst')
(3, 'Vijay', 25, 'Data Scientist')
(4, 'Arjun', 24, 'Data-Analyst')
(5, 'Sony', 35, 'F1 Racer')
(6, 'Vijay', 25, 'Data Scientist')
(7, 'Arjun', 24, 'Data-Analyst')
(8, 'Sony', 35, 'F1 Racer')

In [22]:
#Delete the data 

cursor.execute('''
Delete from Employees
               where name = 'Sony'
''')
connection.commit()

In [23]:
cursor.execute('Select * from Employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Vijay', 25, 'Data Scientist')
(2, 'Arjun', 24, 'Data-Analyst')
(3, 'Vijay', 25, 'Data Scientist')
(4, 'Arjun', 24, 'Data-Analyst')
(6, 'Vijay', 25, 'Data Scientist')
(7, 'Arjun', 24, 'Data-Analyst')

In [24]:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEST NOT NULL,
               sales INTEGER,
               region TEXT
               )
''')

sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]
cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [25]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()


for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')
(6, '2023-01-01', 'Product1', 100, 'North')
(7, '2023-01-02', 'Product2', 200, 'South')
(8, '2023-01-03', 'Product1', 150, 'East')
(9, '2023-01-04', 'Product3', 250, 'West')
(10, '2023-01-05', 'Product2', 300, 'North')

In [26]:
connection.close()